<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="img_extentions" value=".jpg"/>
  </appSettings>
  <connectionStrings>
    <add name="ImageDbEntities" connectionString="metadata=res://*/DB.ImageDbModel.csdl|res://*/DB.ImageDbModel.ssdl|res://*/DB.ImageDbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=ImageDb;user id=sa;password=1234;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>