<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="scan_path" value="D:\temp"/>
    <add key="transfer_path" value="E:\temp\"/>
    <add key="img_extentions" value=".jpg,.bmp,.png"/>
    <add key="thread_sleep" value="1000"/>
    <add key="url_path" value="http://localhost:1807/api/values/AddApp"/>
    <!--<add key="ScannedFilePath" value="E:\Max Pro\Recall\Scanning\2016-09-10" />-->
  </appSettings>
  <connectionStrings>
    <add name="FileManagementDbEntities" connectionString="metadata=res://*/DB.FileManagementModel.csdl|res://*/DB.FileManagementModel.ssdl|res://*/DB.FileManagementModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=FileManagementTestDB;user id=sa;password=1234;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>